@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
  --h1: 40px;
  --h2: 32px;
  --h3: 28px;
  --h4: 20px;
  --h5: 16px;
  --h6: 15px;

  --sub: 20px;

  --label: 16px;
  --ls: 5px;

  --body: 15px;

  --font-1: "Crimson Text", serif;
  --font-2: "Work Sans", sans-serif;

  --color-dark-100: rgba(33, 37, 41, 1);
  --color-dark-75: rgba(33, 37, 41, 0.75);
  --color-dark-50: rgba(33, 37, 41, 0.5);
  --color-dark-25: rgba(33, 37, 41, 0.25);

  --color-white-100: rgba(255, 255, 255, 1) ;
  --color-white-75: rgba(255, 255, 255, 0.75); 
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-25: rgba(255, 255, 255, 0.25);

  --color-green-100: rgba(116, 198, 157, 1);
  --color-green-75: rgba(116, 198, 157, 0.75);
  --color-green-50: rgba(116, 198, 157, 0.5);
  --color-green-25: rgba(116, 198, 157, 0.25);

  --shadow-1: 3px 4px 12px 1px rgba(0,0,0,0.25);

  --line-height-xs: 10px;
  --line-height-s: 15px;
  --line-height-l: 16px;
  --line-height-xl: 25px;
  --line-height-xxl: 35px;
  --line-height-xvl: 40px;
  --line-height-xxvl: 45px;
  --line-height-xvvl: 54px;
  --line-height-xvvll: 60px;
  --line-height-xvvllx: 73px;

  --spacing-vertical-10: 10px;
  --spacing-vertical-15: 15px;
  --spacing-vertical-16: 16px;
  --spacing-vertical-20: 20px;
  --spacing-vertical-25: 25px;
  --spacing-vertical-30: 30px;
  --spacing-vertical-35: 35px;
  --spacing-vertical-40: 40px;
  --spacing-vertical-45: 45px;
  --spacing-vertical-54: 54px;
  --spacing-vertical-55: 55px;
  --spacing-vertical-60: 60px;
  --spacing-vertical-73: 73px;

  --spacing-horizontal-xxs: 18px;
  --spacing-horizontal-xs: 20px;
  --spacing-horizontal-s: 47px;
  --spacing-horizontal-m: 110px;
  --spacing-horizontal-l: 120px;


}

/**
* !removimg default styles of the browser
**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
* !style rules for common buttons
**/

.white-btn,
.dark-btn {
  color: var(--color-dark-100);
  background-color: var(--color-white-100);
  cursor: pointer;
  font-size: var(--h5);
  font-family: var(--font-2);
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
}

.dark-btn{
  color: var(--color-white-100);
  background-color: var(--color-dark-100);
  border-radius: 5px;
  text-transform: capitalize;
}

/**
* !style rules for text colors
**/

.text-white{
  color: var(--color-white-100)
}

.text-dark{
  color: var(--color-dark-100);
}

.text-green{
  color: var(--color-green-100);
}

/**
* !style rules for label
**/

.label{
  font-family: var(--font-2);
  font-size: var(--label);
  letter-spacing: var(--ls);
  text-transform: uppercase;
  font-weight: bold;
}

/**
* !style rules header
**/

.header {
  background-color: var(--color-green-100);
}

/**
* !style rules for navbar
**/

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--spacing-vertical-35);
}

.navbar__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  }

.navbar__logo--text {
  font-size: var(--h2);
  font-family: var(--font-2);
  font-weight: 500;
  color: var(--color-white-100);
  margin-left: var(--spacing-horizontal-xxs);
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-vertical-30);
  font-family: var(--font-2);
  font-size: var(--h5);
}

[class ^="navbar__menu--"] {
  color: var(--color-white-100);
  text-decoration: none;
}

.navbar__icons {
  display: none;
}

.navbar__icons i {
  cursor: pointer;
  font-size: var(--h2);
  color: var(--color-white-100);
}

/**
* !style rules for common classes
**/

.text-center {
  text-align: center;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 40px 0;
  gap: 120px;
}

.common-title {
  text-transform: capitalize;
  font-size: var(--h1);
  font-family: var(--font-1);
  font-weight: bold;
  padding-top: var(--spacing-vertical-16);
  padding-bottom: var(--spacing-vertical-16);
}

/**
* !style rules for footer section
**/

.footerWrapper {
  background-color: var(--color-green-100);
}

.footerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0;
}

.footerLinks__socials {
  display: flex;
  gap: var(--spacing-horizontal-xs);
}

.footerLinks__copyright {
  font-size: var(--sub);
  font-family: var(--font-2);
}

/**
* !style rules for media queries
**/

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 740px;
  }

  .common-title {
    font-size: var(--h4);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .container {
    max-width: 500px;
  }

  .navbar__menu {
    z-index: 1;
    background-color: var(--color-green-100);
    position: absolute;
    top: 15vh;
    width: 100%;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-vertical-40);
  }

  .navbar__menu--1 {
    margin-top: -200px;
  }

  .navbar__icons {
    display: block;
  }

  .hide {
    display: none;
  }

  .hidden {
    z-index: -1;
    opacity: 0%;
  }

  .footerLinks {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-vertical-20);
  }
}

@media (max-width: 568px) {
  .container {
    max-width: 90%;
  }
}

